<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Names</h1>
<ul>
<!--  <li>Alex</li>-->
<!--  <li>Brad</li>-->
<!--  <li>Chad</li>-->
  <li th:each="name: ${names}" th:text="${name}"></li>
</ul>

<h1>Students</h1>
<p th:if="${students.isEmpty()}">No Students</p>
<div th:each="student: ${students}">
  <h3>Name: [[${student.name}]]</h3>
  <h3>Email: [[${student.email}]]</h3>
</div>
<!--<div>-->
<!--  <h3>Name: </h3>-->
<!--  <h3>Email: </h3>-->
<!--</div>-->
<!--<div>-->
<!--  <h3>Name: </h3>-->
<!--  <h3>Email: </h3>-->
<!--</div>-->
</body>
</html>