<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Update: [[${student.id}]]. [[${student.name}]]</h1>
<form th:action="@{/{id}/update (id=${student.id})}" method="post">
  <label for="name-input">Name: </label>
  <input type="text" id="name-input" name="name" th:value="${student.name}"><br>
  <label for="email-input">Email: </label>
  <input type="text" id="email-input" name="email" th:value="${student.email}"><br>
  <input type="submit" value="Update">
</form>
<a th:href="@{/{id} (id=${student.id})}">Back</a>
</body>
</html>
