<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create</title>
</head>
<body>
  <h1>Create Student</h1>
  <form action="/create" method="post">
    <div>
      <label for="name-input">Name: </label>
      <input id="name-input" type="text" name="name">
    </div>
    <div>
      <label for="age-input">Age: </label>
      <input id="age-input" type="number" name="age">
    </div>
    <div>
      <label for="phone-input">Phone: </label>
      <input id="phone-input" type="text" name="phone">
    </div>
    <div>
      <label for="email-input">Email: </label>
      <input id="email-input" type="text" name="email">
    </div>
    <input type="submit" value="Create">
  </form>
</body>
</html>